.course-page {
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  padding-top: 40px;
}
.course-wrapper {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
  padding: 0 20px;
}

.course-left {
  flex: 2;
}
.course-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.breadcrumb {
  color: #64748b;
  font-size: 14px;
  margin-bottom: 20px;
}
.active-link {
  color: #4f46e5;
}

.course-title {
  font-size: 32px;
  color: #130e67;
  font-weight: 800;
  margin-bottom: 25px;
}

.course-hero-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.course-quick-info {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}
.info-badge {
  background: white;
  border: 1px solid #e2e8f0;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 14px;
}

.course-author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}
.course-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar-card.locked {
  opacity: 0.5;
  pointer-events: none;
}

.step-circle {
  border: 1px solid #130e67;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-right: 10px;
  font-weight: bold;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 15px 0;
}
.opt-btn {
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-size: 13px;
}
.opt-btn.active {
  border-color: #130e67;
  font-weight: bold;
}
.opt-btn.disabled {
  background: #f1f5f9;
  color: #94a3b8;
}

.price-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.price-val {
  font-size: 28px;
  font-weight: 800;
  color: #130e67;
}
.price-sub {
  font-size: 13px;
  color: #64748b;
  margin-top: 5px;
}

.enroll-btn {
  width: 100%;
  background: #eef2ff;
  color: #4f46e5;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.alert-card {
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-text h5 {
  margin: 0;
  color: #1e293b;
  font-weight: bold;
}
.alert-text p {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #64748b;
  max-width: 200px;
}

.alert-btn {
  background: #eef2ff;
  color: #4f46e5;
  border: 1px solid #e0e7ff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}
